@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Please, type your string below:
    </h1>

    <form action="/Home/ReverseString">
        <div>
            <input id="textinput" name="text" type="text" class="form-control"/> 
        </div>
        <div>
            <button>Submit</button>
        </div>
    </form>
</div>
